/**
/* Hero styles
/* =================================================================== */

#hero .partial-b-yellow:after {
    border-bottom: 3px solid #FFD600;
    content: '';
    display: block;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    #hero .partial-b-yellow:after {
        width: 40%;
        margin-left: auto;
        margin-right: auto
    }
}

/**
/* Section styles
/* =================================================================== */

.section-container .partial-b-opacity:after {
    border-bottom: 3px solid rgba(255, 255, 255, .2);
    content: '';
    display: block;
    width: 5em;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: width 0.5s linear;
}

.section-container .partial-b-yellow:after {
    border-bottom: 3px solid #FFD600;
    content: '';
    display: block;
    width: 6em;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: width 0.5s linear;
}