/**
/* Hero styles
/* =================================================================== */

.partial-b-yellow:after {
    border-bottom: 3px solid #FFD600;
    content: '';
    display: block;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .partial-b-yellow:after {
        width: 40%;
        margin-left: auto;
        margin-right: auto
    }
}